@using Capstone.Web.Models;
@model List<Beer>


<div class="jumbotron center w-75 mx-auto">
    <h2 style="text-align:center">Current Beer Listings</h2>
    <div class="center">
        <table>
            <tr>
                <th>Beer</th>
                <th></th>
                <th>Description</th>
                <th>Type</th>
                <th>Alcohol By Volume</th>
            </tr>
            @foreach(Beer b in Model)
            { 
                if(b.ShowHide == 1)
                {
                 <tr>
                <td>@b.Name</td>
                <td><a href=@Url.Action("BeerDetail", "Home", new { beerID = b.BeerID }, null)><img src="~/Photos/Beers/@(b.Name).jpg" style="width:125px; height:125px; border:1px solid black; border-radius:3px" /></a></td>
                <td>@b.Description</td>
                <td>@b.BeerType</td>
                <td>@b.AlcoholByVolume</td> 
                </tr>
                }

            }
        </table>
    </div>


</div>
