@using Capstone.Web.Models;
@model List<Beer>
<<<<<<< HEAD
=======
    <div class="jumbotron center">
>>>>>>> 191156180c45bf69c8f49fd007757d6589b04574


<div class="jumbotron center">

    @foreach (var b in Model)
    {
        <p>@b.Name @b.Description @b.BeerType @b.AlcoholByVolume</p>
    }

</div>
