@using Capstone.Web.Models
@model List<Brewery>
   
<div>
    <h1 class="align-middle">GETCHADRINKON</h1>
</div>
<div class="jumbotron align-items-md-center ml-2" style="width:400px; align-self:auto; opacity:0.8">
    <h3 style="text-align:center">Breweries</h3>
    <div>
        @foreach (Brewery brewery in Model)
        {
        <div>
            <div>
                <a href=@Url.Action("BreweryDetail", "Home", new { brewID = brewery.BreweryID })>
                 @brewery.BreweryName
                </a>
            </div>
            <br />
            <div>
                <a href=@Url.Action("BreweryDetail", "Home", new { brewID = brewery.BreweryID })>
                   @brewery.Imagery
                   </a>
            </div>
            <br />

        </div>
            <b />
        }
    </div>
</div>
