@using Capstone.Web.Models
@model List<Brewery>
<div>
    <h1 class="align-middle" >GETCHADRINKON</h1>
</div>
<div class="jumbotron align-items-md-center" style="width:300px; align-self:auto; opacity:0.8">
    <h3 style="text-align:center">Breweries</h3>
    <div>
        @foreach(Brewery brewery in Model)
        {
           <div>
               @brewery.BreweryName <b/>
               @brewery.Address
           </div>
           <b/>  
        }
    </div>
</div> 