@using Capstone.Web.Models
@model List<Brewery>
   
<div>
    <h1 class="align-middle" style="text-align:center">BREWSTER</h1>
</div>
<div class="jumbotron align-items-md-center ml-2" style="width:400px; align-self:auto; opacity:0.8">
    <h3 style="text-align:center">Breweries</h3>
    <div class="jumbotron align-content-center" id="about-us">
        <h3 class="" style="">
            About Us:
        </h3>
        <div>
            

        </div>
    </div>
    <div class="align-content-center">
        @foreach (Brewery brewery in Model) 
        {
        <div> 
            <div class="align-content-center">
                <a href=@Url.Action("BreweryDetail", "Home", new { brewID = brewery.BreweryID }, null)>
                 @brewery.BreweryName
                </a>
            </div>
            <br />
            <div class="align-content-center">
                <a href=@Url.Action("BreweryDetail", "Home", new { brewID = brewery.BreweryID }, null)>
                   @brewery.Imagery
                   </a>
            </div> 
            <br />
        </div>
            <b />
        }
    </div>
</div>
