@using Capstone.Web.Models
@model List<Brewery>
@*<head>
    @*<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@

@*</head>*@*
@*<script>var $carousel = $('.carousel').flickity({
        cellSelector: 'img',
        imagesLoaded: true,
        percentPosition: false
    });
    var $caption = $('.caption');
    // Flickity instance
    var flkty = $carousel.data('flickity');

    $carousel.on('select.flickity', function () {
        // set image caption using img's alt
        $caption.text(flkty.selectedElement.alt)
    });</script>*@

<style>

    .jumbo {
        --background-color: black;
        float: right;
    }

    .text {
        --color: white
    }

    .pad {
        padding-top: 10px;
    }

    .brewbtn {
        width: 343px;
    }

    #brewScroll {
        max-height: 173px;
        overflow: auto;
    }

        #brewScroll a {
            text-decoration: none;
            padding: 5px 20px;
        }
    .carousel {
        --background: trans;
        height: auto;
        border-radius: 5px;
        pointer-events: visible;
    }

    .carousel-cell {
        margin-right: 20px;
        overflow: hidden;
        border-radius: 5px;
    }

        .carousel-cell img {
            display: block;
            height: 200px;
        }

    .flickity-viewport {
        padding: 10px;
        height: 240px !important;
    }

    .color {
        background-color: #9edfff;
    }
</style>

<div class="row">
    @*<img class="col-lg-4 center1" style="top: -88px; padding-bottom:20px;" src="https://brewsters.ca/wp-content/themes/brewsters/assets/images/logo-full.svg" />*@
    <div class="col-md-6 col-sm-12">
        @*<img class="ml-5" style="top: -88px; width:650px; height:auto;" src="https://brewsters.ca/wp-content/themes/brewsters/assets/images/logo-full.svg" />*@
        <img class="ml-5 w-75" src="https://brewsters.ca/wp-content/themes/brewsters/assets/images/logo-full.svg" />
        @* *@
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="jumbotron card px-3 py-1" style="border-radius: 10px; background-color:lightgray">
            <div class="card" style="padding: 25px; border-radius: 10px;">
                <h3 style="text-align: center; margin: 3%">About Us</h3>
                <p style="text-align: center; font-size: 16px">
                    <br />
                    
                    Hi Beer Lovers and Brewers! Welcome to Brewsters. Browse this website to find your favorite breweries and beers. If you would like to leave reviews on beers, register with us as a Beer Lover!
                    If you are a brewer yourself, you can sign up to manage your brewery and craft beers on Brewsters!

                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="jumbotron w-75 pt-2 pb-5 mx-auto center col-11" style="background-color: lightgray">
        <h3 class="text center my-2">Cincys Favorites</h3>
        <div id="cCell" class="carousel mx-auto">
        </div>
    </div>
</div>





<script>




    $(function () {
        $.ajax({
            url: "/Home/GetAllBeersJson",
            method: "GET",
            dataType: "json"
        }).done(function (beers) {
            console.log(beers)

            for (var i = 0; i < beers.length; i++) {

                $("#cCell").append(`<div class="carousel-cell z-depth-3"><img src="/Photos/Beers/${beers[i].Name}.jpg" alt="flight formation" /></div>`)
            }
        })
    })


    setTimeout(function () {


        var $carousel = $('.carousel').flickity({
            imagesLoaded: true,
            percentPosition: false,
            wrapAround: true,
            initialIndex: 2,
            autoPlay: 1500,
            pauseAutoPlayOnHover: true,
        });


        var $imgs = $carousel.find('.carousel-cell img');
        // get transform property
        var docStyle = document.documentElement.style;
        var transformProp = typeof docStyle.transform == 'string' ?
            'transform' : 'WebkitTransform';
        // get Flickity instance
        var flkty = $carousel.data('flickity');


    }, 300)

    $('#your-flickity-select').on('select.flickity', function () { $('#your-flickity-select').flickity('playPlayer') })
</script>
