
@model Capstone.Web.Models.User

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="jumbotron  w-75 pt-3 mx-auto mt-5 jumbo" style="opacity:0.85">
        <h1 class="text-center" style="opacity:0.99">User Login</h1>
        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
         {@Html.ValidationMessage("invalid-credentials")
        
        <div id="login-email">
            @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "email", @class = "validate" })
            @Html.ValidationMessageFor(m => m.EmailAddress)
        </div>
        <div id="login-pw">
            @Html.PasswordFor(m => m.Password, new { placeholder = "password", @class = "validate" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <button class="btn btn-primary btn-lg btn-block mt-5 button" id="login-button">Login</button>
         }


    </div>

</body>
</html>
