@using Capstone.Web.Models

<a href=@Url.Action("AddBeer", "Home") class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Add Beer</a>
<a href="#" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Delete Beer</a>
<a href="#" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Edit Availability</a>

@*@Url.Action("AddBeer", "Home", new { brewID = brewery.BreweryID })*@