
<style>


</style>

<div class="jumbotron w-75 p-3 mx-auto mt-5 jumbo" style="background-color: black; opacity: 0.9">
    <h1 style="color: white; text-align: center">Beer Manager</h1>
    <div style="margin-left: 100px; margin-right: 100px">
        <p style="color: white; font-size: 18px">
            Howdy-Ho, brewer! You can use this page to manage the beers on your brewery page.
            <br />
            To add a new beer, click the <i class="fas fa-beer fa-sm" style="color: lawngreen"></i> icon.
            <br />
            To delete a beer, click the <i class="fas fa-beer fa-sm" style="color: red"></i> icon.
            <br />
            To hide or show a beer on your page depending on its current availability, click the <i class="far fa-eye-slash fa-sm" style="color: darkgray"></i> icon.
        </p>
    </div>

    <br />
    <br />
    <div style="text-align: center">
        <a href="AddBeer"><i class="fas fa-beer fa-5x" style="color: lawngreen; margin-right: 10%"></i></a>
        <a href="DeleteBeer"><i class="fas fa-beer fa-5x" style="color: red; margin-right: 10%"></i></a>
        <a href="ShowHideBeer"><i class="far fa-eye-slash fa-5x" style="color:darkgray"></i></a>
            <br />
            <br />

</div>
    @*<a href="ShowHideBeer"><i class="fas fa-beer fa-5x" style="color: cornflowerblue"></i></a>*@




</div>