@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>User Login</h1>
        <div id="login">
            <form method="post" action="">
                <input type="text" name="username" required/>
                <input type="text" name="password" required />
            </form>
        </div>
    
    </div>
</body>
</html>
